.single-product-img img {
    height: 500px;
    border-radius: 5px;
    
    box-shadow: 0 0 20px #ddd;
  }
  
  .single-product-content h3 {
    font-size: 22px;
    font-weight: 600;
  }
  
  p.single-product-pricing span {
    font-size: 18px;
    display: block;
    opacity: 0.8;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .rating {
    font-size: 1.9rem;
    color: #ffc107;
  }