<!-- footer -->
<div class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="footer-box about-widget">
          <h2 class="widget-title">About us</h2>
          <p>Welcome to our ecommerce website, where we bring you the latest and greatest in electronic products.
            we are passionate about technology. With a wide range of cutting-edge gadgets, from smartphones and laptops to smart home
            devices and audio equipment. Our team of experts carefully curates our product selection, ensuring that we offer only the highest quality and most innovative devices
            on the market. We are committed to delivering exceptional customer service, offering competitive prices, and
            providing fast and reliable shipping. we are here to help you find the perfect electronic products. Join us on this exciting journey of discovery .

          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box get-in-touch">
          <h2 class="widget-title">Get in Touch</h2>
          <ul>
            <li>34/8, East Hukupara, Gifirtok, Sadan.</li>
            <li>sup@Click&Collect.com</li>
            <li>+00 111 222 3333</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box pages">
          <h2 class="widget-title">Pages</h2>
          <ul>
            <li><a routerLink="./">Home</a></li>
            <li><a routerLink="./about">About</a></li>
            <li><a routerLink="./store/Shop">Shop</a></li>
            <li><a routerLink="./about">News</a></li>
            <li>Contact</li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-lg-2 col-md-6">
        <div class="footer-box subscribe">
          <h2 class="widget-title">Subscribe</h2>
          <p>Subscribe to our mailing list to get the latest updates.</p>
          <form action="index.html">
            <input type="email" placeholder="Email">
            <button type="submit"><i class="fas fa-paper-plane"></i></button>
          </form>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- end footer -->
