

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>{{textAbout}}</p>
                    <h1>{{aboutUs}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="feature-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="featured-text">
                    <h2 class="pb-3">Why <span class="orange-text">click & collect ?</span></h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-4 mb-md-5" *ngFor="let text of sectionAbout.about">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                   <i [class]="text.fav"></i>
                                </div>
                                <div class="content">
                                    <h3>{{text.advantg}}</h3>
                                    <p>{{text.text}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="shop-banner">
    <div class="container">
        <h3>{{monthlyOffer}}<br> with big <span class="orange-text">Discount...</span></h3>
        <div class="sale-percent"><span>Sale! <br> Upto</span>{{saleMonthly | percent}} <span>off</span></div>
        <a routerLink="/store/Shop" class="cart-btn btn-lg">Shop Now</a>
    </div>
</section>
<div class="mt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3>Our <span class="orange-text">Team</span></h3>
                    <h5>The team members Consists of UX/UI Designers and  Front-End Developers and Back-End Developers </h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-team-item">
                    <div class="team-bg team-bg-1"></div>
                    <h4>Melad Karmy <span>Software Enginner </span></h4>
                    <ul class="social-link-team">
                        <li><a href="https://www.facebook.com/ostwra?mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a  target="_blank"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/melad-karmy/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <div class="single-team-item">
                  <div class="team-bg team-bg-2"></div>
                  <h4>Youssef Fredy <span>Software Enginner </span></h4>
                  <ul class="social-link-team">
                      <li><a href="https://www.facebook.com/youssef.Fredy.589/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="https://github.com/YoussefGithub101" target="_blank"><i class="fab fa-github"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/youssef-fredy/ " target="_blank"><i class="fab fa-linkedin "></i></a></li>
                  </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <div class="single-team-item">
                  <div class="team-bg team-bg-3"></div>
                  <h4>Mario Harby <span>Software Enginner  </span></h4>
                  <ul class="social-link-team">
                      <li><a href="https://www.facebook.com/Mario.Harby/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a target="_blank"><i class="fab fa-github"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/mario-habib/" target="_blank"><i class="fab fa-linkedin "></i></a></li>
                  </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="single-team-item">
                    <div class="team-bg team-bg-4"></div>
                    <h4>Mohamed ash<span>Software Enginner </span></h4>
                    <ul class="social-link-team">
                        <li><a href="https://www.facebook.com/mohamed.ashref.984?mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a  target="_blank"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/mohamed-ashraf-b83514246" target="_blank"><i class="fab fa-linkedin "></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-team-item">
                    <div class="team-bg team-bg-5"></div>
                    <h4>Michael Melad <span>Software Enginner </span></h4>
                    <ul class="social-link-team">
                        <li><a href="https://www.facebook.com/profile.php?id=100009041659559&mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/michael-melad2/" target="_blank"><i class="fab fa-linkedin "></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




